<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss,SSS} - [%t] - %p - %c - %m%n" />
        </layout>
    </appender>

    <appender name="jmx-stats" class="org.gridkit.jmxlogger.StatisticsMBeanAppender">
        <param name="AutoRegister" value="true" />
        <param name="Config" value="jmxlogger.xml" />
        <param name="DefaultTimeDepth" value="30s" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%c - %m%n" />
        </layout>        
    </appender>

    <logger name="PERF">
        <level value="INFO"/>
        <appender-ref ref="jmx-stats"/>
    </logger>
    
    <root>
        <priority value="DEBUG" />
        <appender-ref ref="stdout" />
    </root>
    
</log4j:configuration>
